{% extends "../base/base.html" %}
{% block title %}Users Favourties{% endblock %}
{% block content %}
{% include "../base/nav-main.html" %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1>Users saved favourite posts</h1>
            <p class="lead text-muted">Here you can remove or view the favourites posts you have added</p>
        </div>
    </section>
    <div>
        <div class="row">
            {% for post in new %}
            <div class="col-md-4">
                <a class="text-dark" href="{{post.get_absolute_url}}">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{post.image.url}}" alt="{{ post.title }}">
                        <div class="card-body">
                            <h2 style="font-size:18px;font-weight:bold">{{post.title|truncatechars:50}}</h2>
                            <p class="card-text">{{post.excerpt|truncatechars:50}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                                <div id="favourite-section"><a href="{% url 'accounts:favourite_add' post.id %}"
                                        class="btn btn-outline-primary">Remove</a></div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "base/footer.html" %}
{% endblock %}